<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Cave</title>
    <style>
        .body {
            margin: 0;
            padding: 0;

        }

        .error-message {
            text-align: center;
            margin-top: 15%;
            font-family: "Consolas";
        }

        .error-message h1 {
            font-size: 7.5em;
            margin-bottom: 0.25em;
        }

        .error-message p {
            font-size: 1.5em;
            margin-top: 0;
        }
    </style>
</head>

<body>
    {% block content %}

    {% endblock %}
</body>

</html>